{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h4>{{ .Title }}</h4>
        <p>{{ .Description }}</p>
      </div>
    </header>
    <div id="content">
      {{ .Content }}
    </div>
  </article>
  <p>
  {{ with .Site.GetPage "section" "authors" }}
  {{ range .Pages }}
  <article>
    <div class="post">
      <h2>{{.Title}}</h2>
      <div class="content">
        {{ .Content }}
      </div>
      <footer>
        {{ .Render "stats" }}
      </footer>
    </div>
  </article>
  {{ end }}
  {{ end }}
  </p>
{{ end }}
