{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h4>{{ .Title }}</h4>
        <p>{{ .Description }}</p>
      </div>
    </header>
    <div id="content">
      {{ .Content }}
    </div>
  </article>

  {{ with .Site.GetPage "section" "authors" }}
  {{ range .Pages }}
  <article class="post">
    <header>
      <div class="title">
        <h2>{{.Title}}</h2>
      </div>
      <div class="meta">
        <h2><ul class="socnet-icons">
          {{ partial "item-socnet-icons" .Params.social }}
        </ul></h2>
      </div>
    </header>
    {{ .Render "featured"}}
    <div class="content">
      {{ .Content }}
    </div>  
    <footer>
      {{ .Render "stats" }}
    </footer>
  </article>
  {{ end }}
  {{ end }}
{{ end }}
