<!-- Derivative of socnet-icon that can be used on any data not just .Site -->
{{ with .vk }}<li><a href="//vk.com/{{.}}" target="_blank" rel="noopener" title="VK" class="fab fa-vk"></a></li>{{ end }}
{{ with .facebook }}<li><a href="//facebook.com/{{.}}" target="_blank" rel="noopener" title="Facebook" class="fab fa-facebook"></a></li>{{ end }}
{{ with .telegram }}<li><a href="//telegram.me/{{.}}" target="_blank" rel="noopener" title="telegram" class="fab fa-telegram"></a></li>{{ end }}
{{ with .twitter }}<li><a href="//twitter.com/{{.}}" target="_blank" rel="noopener" title="Twitter" class="fab fa-twitter"></a></li>{{ end }}
{{ with .github }}<li><a href="//github.com/{{.}}" target="_blank" rel="noopener" title="GitHub" class="fab fa-github"></a></li>{{ end }}
{{ with .gitlab }}<li><a href="//gitlab.com/{{.}}" target="_blank" rel="noopener" title="GitLab" class="fab fa-gitlab"></a></li>{{ end }}
{{ with .stackoverflow }}<li><a href="//stackoverflow.com/users/{{.}}" target="_blank" rel="noopener" title="Stack Overflow" class="fab fa-stack-overflow"></a></li>{{ end }}
{{ with .bitbucket }}<li><a href="//bitbucket.com/{{.}}" target="_blank" rel="noopener" title="Bitbucket" class="fab fa-bitbucket"></a></li>{{ end }}
{{ with .medium}}<li><a href="//medium.com/@{{.}}" target="_blank" rel="noopener" title="Medium" class="fab fa-medium"></a></li>{{ end }}
{{ with .linkedin }}<li><a href="//www.linkedin.com/in/{{.}}" target="_blank" rel="noopener" title="LinkedIn" class="fab fa-linkedin"></a></li>{{ end }}
{{ with .youtube }}<li><a href="//youtube.com/{{.}}" target="_blank" rel="noopener" title="YouTube" class="fab fa-youtube"></a></li>{{ end }}
{{ with .vimeo }}<li><a href="//vimeo.com/{{.}}" target="_blank" rel="noopener" title="Vimeo" class="fab fa-vimeo"></a></li>{{ end }}
{{ with .instagram }}<li><a href="//instagram.com/{{.}}" target="_blank" rel="noopener" title="Instagram" class="fab fa-instagram"></a></li>{{ end }}
{{ with .tumblr }}<li><a href="//{{.}}.tumblr.com" target="_blank" rel="noopener" title="Tumblr" class="fab fa-tumblr"></a></li>{{ end }}
{{ with .strava }}<li><a href="//strava.com/athletes/{{.}}" target="_blank" rel="noopener" title="Strava" class="fab fa-strava"></a></li>{{ end }}
{{ with .snapchat }}<li><a href="//snapchat.com/add/{{.}}" target="_blank" rel="noopener" title="snapchat" class="fab fa-snapchat"></a></li>{{ end }}
{{ with .pinterest }}<li><a href="//www.pinterest.com/{{.}}" target="_blank" rel="noopener" title="Pinterest" class="fab fa-pinterest-p"></a></li>{{ end }}
{{ with .email }}<li><a href="mailto:{{.}}" target="_blank" title="Email" class="far fa-envelope"></a></li>{{ end }}
