<div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@fo2rist-ru","postsPerLine":1,"limit":4,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"original"}})</script>

{{/*  <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@fo2rist-ru","postsPerLine":1,"limit":5,"picture":"small","fields":["description","publishAt"],"ratio":"landscape"}})</script>

<div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@fo2rist","postsPerLine":1,"limit":5,"picture":"small","fields":["description","publishAt"],"ratio":"landscape"}})</script>  */}}

<iframe src="https://castbox.fm/app/castbox/player/id3175225?v=8.22.11&autoplay=0" frameborder="0" width="100%" height="500"></iframe>
